@use '@/styles' as *;

.avatar {
  @include flex-center;
  border-radius: $radius-full;
  font-size: $text-2xl;
  user-select: none;
  flex-shrink: 0;
  background: $clr-primary-lighter;

  &.sm {
    width: 2rem;
    height: 2rem;
    font-size: $text-base;
  }

  &.md {
    width: 2.75rem;
    height: 2.75rem;
    font-size: $text-xl;
  }

  &.lg {
    width: 3.5rem;
    height: 3.5rem;
    font-size: $text-2xl;
  }

  &.xl {
    width: 5rem;
    height: 5rem;
    font-size: $text-4xl;
  }
}
