@use '@/styles' as *;

.avatar {
  @include flex-center;
  flex-shrink: 0;
  font-size: $text-2xl;
  background: linear-gradient(145deg, #F1F3FF 0%, #E3E8FF 100%);
  border-radius: $radius-full;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.9), 0 2px 6px -2px rgba($clr-primary, 0.3);
  user-select: none;

  &.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: $text-lg;
  }

  &.md {
    width: 2.75rem;
    height: 2.75rem;
    font-size: $text-xl;
  }

  &.lg {
    width: 3.75rem;
    height: 3.75rem;
    font-size: $text-3xl;
  }

  &.xl {
    width: 5.5rem;
    height: 5.5rem;
    font-size: $text-4xl;
  }
}
